<div x-data="Alpine.component('hello')()" class="flex flex-col w-80 mx-auto space-y-4">
	<p class="text-4xl">
		<span class="iconify mx-auto" data-icon="carbon:pedestrian"></span>
	</p>
	<div class="">
		<span x-text="$t('hello')"></span>
		<span x-text="name() ?? $t('yourname')"></span>
	</div>

	<p
		class="text-sm opacity-75 "
		x-text="$t('routing')"
	></p>

	<input
		type="text"
		name=""
		id=""
		:placeholder="$t('yourname')"
		class="px-4 py-2 text-sm text-center bg-transparent border border-gray-200 rounded outline-none active:outline-none dark:border-gray-700"
		:value="$router.params.name ?? ''"
		@keydown.enter="$router.redirect('/hello/'+$refs.input.value)"
		x-ref="input"
		autofocus
	/>
	<p class="text-sm" x-text="$t('writehome')">
	</p>
</div>
