<div
	x-data="hello()"
	class="w-80 max-w-full mx-auto flex flex-col space-y-4"
>
	<p class="text-4xl">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			width="1.2em"
			height="1.2em"
			preserveAspectRatio="xMidYMid meet"
			viewBox="0 0 32 32"
			class="inline-block"
		>
			<path
				d="M21.677 14l-1.245-3.114A2.986 2.986 0 0 0 17.646 9h-4.092a3.002 3.002 0 0 0-1.544.428L7 12.434V18h2v-4.434l3-1.8v11.931l-3.462 5.194L10.202 30L14 24.303V11h3.646a.995.995 0 0 1 .928.629L20.323 16H26v-2z"
				fill="currentColor"
			></path>
			<path
				d="M17.051 18.316L19 24.162V30h2v-6.162l-2.051-6.154l-1.898.632z"
				fill="currentColor"
			></path>
			<path
				d="M16.5 8A3.5 3.5 0 1 1 20 4.5A3.504 3.504 0 0 1 16.5 8zm0-5A1.5 1.5 0 1 0 18 4.5A1.502 1.502 0 0 0 16.5 3z"
				fill="currentColor"
			></path>
		</svg>
	</p>
	<div class="prose-lg ">
		<span x-text="$t('hello')"></span>
		<span x-text="$router.params?.name ?? 'What is your name?'"></span>
	</div>

	<p class="text-sm opacity-75 w-80 max-w-full mx-auto" x-text="$t('hello')">
		Demonstration of routing with Pinecone Router, using $router helper, &
		authorization/redirecting.
	</p>

	<input
		type="text"
		name=""
		id=""
		placeholder="What's your name?"
		class="px-4 py-2 text-sm text-center bg-transparent border border-gray-200 rounded outline-none active:outline-none dark:border-gray-700"
		:value="$router.params.name ?? ''"
		@keydown.enter="$router.redirect('/hello/'+$refs.input.value)"
		x-ref="input"
		autofocus
	/>
	<p class="tracking-tighter text-sm">
		Write "home" to go back to the main page.
	</p>
</div>
