<p class="flex justify-center text-center w-80 mx-auto tracking-tighter mt-5 text-gray-600">
	Demonstration of routing with Pinecone Router, using $router helper, & authorization/redirecting.
</p>
<div
	x-data="hello()"
	class="card w-80 max-w-full shadow-sm rounded-3xl text-white bg-gray-800 text-center items-center mx-auto mt-5"
>
	<div class="prose-lg font-bold">Hello, <span x-text="$router.params?.name ?? 'What is your name?'"></span></div>
	<input
		type="text"
		name=""
		id=""
		placeholder="Write your name"
		class="text-gray-800 rounded-2xl p-4"
		:value="$router.params.name ?? ''"
		@keydown.enter="$router.redirect('/hello/'+$refs.input.value)"
		x-ref="input"
		autofocus
	/>
	<p class="tracking-tighter text-sm">write 'home' to go back to the main page.</p>
</div>
